/target/
.classpath
/bin/
.project
.settings/
D:/
D:\\RnD\\stream-listener-platform\\communication-platform\\logs.log
/src/main/resources/application-prod.yml
/src/main/resources/application.yml
HKCommPlatform.log
HKCommPlatform.log.*
.factorypath
